section.cls {
    background: url('../../assets/images/cls-template.jpg'), #20201F;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

section.cls .row {
    align-items: center;
}


section.cls {
    min-height: 650px;
}

@media (min-width:992px) {
    section.cls {
        position: relative;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
    }

    section.cls video.desk_top,
    section.cls img.desk_top {
        position: absolute;
        right: 0;
        height: 100%;
        width: 48%;
        object-fit: cover;
    }

    section.cls .content {
        max-width: 712px;
    }
}


@media (max-width:991px) {
    section.cls video.mobile {
        width: 100%;
    }

    section.cls video.mobile,
    section.cls img.mobile {
        margin-bottom: 30px;
        border-radius: 20px;
    }
}

@media (max-width:767px) {
    section.cls {
        text-align: center;
    }

    section.cls .cta_global {
        margin: auto;
    }

}