section.single_product th.label label,
section.single_product .quantity::before,
.single_variation_wrap .single_variation::before {
    color: #20201F;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 25px;
    width: 130px;
}

section.tab-top {
    padding-top: 0 !important;
}

.single_star {
    display: flex;
    gap: 15px;
    margin-bottom: 47px;
}

.woocommerce p.stars a::before,
.woocommerce .star-rating span::before {
    color: #f1c030 !important;
}

.woocommerce .star-rating {
    height: 25px;
    letter-spacing: 0.5px;
    font-size: 22px;
}

section.single_product .main_.row {
    align-items: center;
}

section.single_product .summary,
section.single_product .woocommerce-product-gallery {
    width: 100% !important;
}


section.single_product .h-3,
.woocommerce-Price-amount {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: normal;
    text-transform: uppercase;
    color: black !important;
}

section.single_product .h-3 {
    font-size: 30px !important;
}

section .product_title {
    margin-bottom: 30px;
}

section.single_product .product_price,
section.single_product .woocommerce-variation-price {
    margin-bottom: 35px;
}

div.product form.cart .reset_variations {
    display: none !important;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .variations_form span.price {
    color: white !important;
    font-size: 1em !important;
}

.variations_form .woocommerce-Price-amount {
    font-size: 20px !important;
}

section.single_product .info p {
    margin-bottom: 35px;
}

section.single_product [type=submit] {
    display: flex !important;
    padding: 15px 25px !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    color: #FFF;
    border-radius: 30px !important;
    background: linear-gradient(90deg, #A700FF -15.91%, #0FC1FF 121.87%) !important;
    text-decoration: none !important;
    width: 100% !important;
    border: none !important;
    margin-top: 25px;
}


section.single_product [type=submit]:hover {
    color: #334A51 !important;
    padding: 13px 23px !important;
    background: transparent !important;
    border: 2px solid !important;
}

section.single_product .quantity {
    /* display: flex !important; turn on phase 2*/
    display: none !important;
    margin: 0 0 60px !important;
    padding: 0 !important;
}

section.single_product .quantity::before {
    content: 'Quantity:';
    display: flex;
    align-items: center;
}

section.single_product .quantity button {
    border: none;
    padding: 0;
    background: none;
}

section.single_product .quantity .qty {
    width: 50px !important;
    height: 41px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: black !important;
    outline: none !important;
    background: #F8F8F8;
    border: none !important;
}

/* Hide the up and down buttons */
section.single_product input[type=number]::-webkit-inner-spin-button,
section.single_product input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section.single_product th.label {
    width: 130px;
}

section.single_product form.cart .variations {
    margin-bottom: 30px !important;
}

section.single_product .woocommerce-variation.single_variation {
    display: flex;
}

section.single_product .single_variation_wrap .single_variation::before {
    content: 'Price';
}

/* Gallery Style  */
section.single_product .woocommerce-product-gallery {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

section.single_product ol.flex-control-nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: center;
}

section.single_product .woocommerce-product-gallery__wrapper {
    width: 100%;
}

section.single_product ol.flex-control-nav li {
    width: 100% !important;
}

section.single_product ol.flex-control-nav li img {
    opacity: 1 !important;
}

section.single_product .woocommerce-product-gallery__trigger {
    background: transparent !important;
    border-radius: 5px !important;
    top: 0 !important;
    right: 0 !important;
}

section.single_product .single_images.Single-Image .woocommerce-product-gallery__trigger {
    width: 100% !important;
    max-width: 100% !important;
}

.pswp__bg {
    opacity: .5 !important;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    opacity: 0;
}

@media (min-width:1367px) {
    button.pswp__button.pswp__button--arrow--left {
        left: 20%;
    }

    button.pswp__button.pswp__button--arrow--right {
        right: 20%;
    }
}

@media (max-width:1366px) {
    button.pswp__button.pswp__button--arrow--left {
        left: 2%;
    }

    button.pswp__button.pswp__button--arrow--right {
        right: 2%;
    }
}

section.single_product table.variations tr {
    display: flex;
    align-items: center;
}

select#sizes-option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #20201F url('../../assets/images/general/arrow.svg') no-repeat right 20px center;
    background-size: 12px;
    padding: 0 20px;
    color: white;
    border-radius: 3px;
    max-width: 312px !important;
    min-width: 312px !important;
    height: 49px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500 !important;
}

select#sizes-option * {
    padding: 10px !important;
    margin: 10px !important;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 100px;
    color: #FFFFFF;
}

section.what-included-box {
    background: url('../../assets/images/shop/what-included-box.jpg')no-repeat;
    background-size: cover;
}

section.what-included-box .main.d-flex {
    align-items: center;
}

section.what-included-box .d-flex {
    justify-content: space-between;
}

section.what-included-box .image {
    width: 32%;
    max-width: 500px;
}

@media (min-width:1200px) {
    section.single_product .woocommerce-product-gallery .flex-viewport img {
        max-height: 585px;
        min-height: 585px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    section.single_product .woocommerce-product-gallery .flex-viewport img {
        max-height: 350px;
        min-height: 350px;
    }
}

@media (min-width:992px) {
    section.single_product .summary {
        max-width: 712px;
    }

    section.single_product .woocommerce-product-gallery {
        max-width: 782px;
    }


    section.what-included-box .custom {
        max-width: 996px;
        width: 65%;
    }

    section.what-included-box .custom h2 {
        margin-bottom: 60px;
    }

    section.what-included-box .custom .d-flex {
        flex-wrap: wrap;
    }

    section.what-included-box .custom .c_card {
        max-width: 45%;
    }
}

@media (min-width:768px) {
    section.single_product .woocommerce-product-gallery .flex-viewport {
        width: 80%;
    }

    section.single_product .woocommerce-product-gallery .flex-viewport img {
        object-fit: cover;
        border-radius: 5px;
    }

    section.single_product .woocommerce-product-gallery__trigger::after,
    section.single_product .woocommerce-product-gallery__trigger::before {
        display: none !important;
    }

    section.single_product .woocommerce-product-gallery__trigger:hover::before {
        position: absolute !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        height: 100% !important;
        z-index: 10;
        background: url('../../assets/images/general/bg-single.png') !important;
        background-position: center !important;
        background-size: cover !important;
        border-radius: 5px !important;
        border: none !important;
        top: 0 !important;
        left: 0 !important;
    }

    section.single_product .woocommerce-product-gallery__trigger {
        width: 80% !important;
        height: 100% !important;
    }
}

@media (max-width:1199px) {}

@media (max-width:991px) {
    section.what-included-box .custom .c_card {
        max-width: 100%;
        text-align: center;
    }
    section.what-included-box .main.d-flex {
        flex-direction: column-reverse;
    }
    
    section.what-included-box .custom .d-flex {
        flex-direction: column;
    }
}

@media (max-width:767px) {
    section.single_product .woocommerce-product-gallery {
        flex-direction: column;
    }

    section.single_product ol.flex-control-nav {
        flex-direction: unset;
        width: 100%;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .pswp__button--arrow--left svg,
    .pswp__button--arrow--right svg {
        display: none;
    }

    section.single_product .product_price,
    section.single_product .woocommerce-variation-price {
        margin-bottom: 20px;
    }
}

@media (max-width:575px) {
    section.single_product table.variations tr {
        align-items: flex-start;
        flex-direction: column;
    }

    section.single_product .woocommerce-variation.single_variation {
        flex-direction: column;
    }
}